@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 4.9% 83.9%;
	}
}

@layer components {
	.btn {
		display: inline-flex;
		height: 2.25rem;
		align-items: center;
		justify-content: center;
		border-radius: 0.25rem;
		font-weight: 500;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		@apply transition-colors disabled:opacity-50;
	}

	.btn-primary {
		@apply bg-green-300 text-green-950 hover:bg-green-200;
	}

	.btn-secondary {
		@apply bg-blue-300 text-blue-950 hover:bg-blue-200;
	}

	.btn-destructive {
		@apply bg-red-400 text-red-950 hover:bg-red-300;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-zinc-900 text-foreground;
	}
}
